### Data preparation & cleaning of credit data to be used in building models for credit scoring.

In [267]:
import pandas as pd
import re
credit_data=pd.read_csv("C:\\Users\\debod\\Downloads\\Yetty\\Creditdata.csv")

C:\Users\debod\AppData\Local\Temp\ipykernel_24228\607765014.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  credit_data=pd.read_csv("C:\\Users\\debod\\Downloads\\Yetty\\Creditdata.csv")

In [268]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [196]:
credit_data['Age'].unique()

array(['23', '-500', '28_', ..., '4808_', '2263', '1342'], dtype=object)

In [269]:
credit_data[['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']]=credit_data[['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']].astype('string')

In [270]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  string
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  string
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  string
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   string
 16  Changed_Credit_Limit      100000 non-null  string
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  string
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   string
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   string
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(12), string(8)
memory usage: 21.4+ MB

#### Checking for null

In [271]:
credit_data.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [272]:
credit_data=credit_data.dropna()

#### Reset index after dropping null values

In [273]:
credit_data.reset_index(inplace=True)

In [274]:
credit_data.isna().sum()

index                       0
ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [275]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53049 entries, 0 to 53048
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     53049 non-null  int64
 1   ID                        53049 non-null  object
 2   Customer_ID               53049 non-null  object
 3   Month                     53049 non-null  object
 4   Name                      53049 non-null  object
 5   Age                       53049 non-null  string
 6   SSN                       53049 non-null  object
 7   Occupation                53049 non-null  object
 8   Annual_Income             53049 non-null  string
 9   Monthly_Inhand_Salary     53049 non-null  float64
 10  Num_Bank_Accounts         53049 non-null  int64
 11  Num_Credit_Card           53049 non-null  int64
 12  Interest_Rate             53049 non-null  int64
 13  Num_of_Loan               53049 non-null  string
 14  Type_of_Loan              53049 non-null  object
 15  Delay_from_due_date       53049 non-null  int64
 16  Num_of_Delayed_Payment    53049 non-null  string
 17  Changed_Credit_Limit      53049 non-null  string
 18  Num_Credit_Inquiries      53049 non-null  float64
 19  Credit_Mix                53049 non-null  object
 20  Outstanding_Debt          53049 non-null  string
 21  Credit_Utilization_Ratio  53049 non-null  float64
 22  Credit_History_Age        53049 non-null  object
 23  Payment_of_Min_Amount     53049 non-null  object
 24  Total_EMI_per_month       53049 non-null  float64
 25  Amount_invested_monthly   53049 non-null  string
 26  Payment_Behaviour         53049 non-null  object
 27  Monthly_Balance           53049 non-null  string
 28  Credit_Score              53049 non-null  object
dtypes: float64(4), int64(5), object(12), string(8)
memory usage: 11.7+ MB

#### Data Cleaning - Removing spaces & symbols found between numbers

In [276]:
credit_data['Age']=credit_data['Age'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Annual_Income']=credit_data['Annual_Income'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Num_of_Loan']=credit_data['Num_of_Loan'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Num_of_Delayed_Payment']=credit_data['Num_of_Delayed_Payment'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Changed_Credit_Limit']=credit_data['Changed_Credit_Limit'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Outstanding_Debt']=credit_data['Outstanding_Debt'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Amount_invested_monthly']=credit_data['Amount_invested_monthly'].apply(lambda x:re.sub('[^0-9]', '', x))
credit_data['Monthly_Balance']=credit_data['Monthly_Balance'].apply(lambda x:re.sub('[^0-9]', '', x))

In [277]:
credit_data['Age'].unique()

array(['23', '28', '34', ..., '8425', '2263', '1342'], dtype=object)

In [184]:
credit_data['Annual_Income'].unique()

array(['1911412', '3484784', '14316264', ..., '371881', '2000288',
       '3962899'], dtype=object)

#### Changing Dtypes

In [278]:
non_numeric_values=credit_data[~credit_data['Changed_Credit_Limit'].str.isnumeric()]
['Changed_Credit_Limit']
print("Non-numeric values in 'Changed_Credit_Limit':")
print(non_numeric_values)

Non-numeric values in 'Changed_Credit_Limit':
       index       ID Customer_ID     Month                Name   Age  \
28        65   0x1663  CUS_0x4157  February        Charlie Zhur    23
113      248   0x1776  CUS_0x6048   January             Ayeshaz    43
116      254   0x177c  CUS_0x6048      July             Ayeshaz    43
169      364   0x1822  CUS_0x8e9b       May  Rachelle Younglaic    16
218      470   0x18c0  CUS_0x47db      July              Granto    16
...      ...      ...         ...       ...                 ...   ...
52778  99453  0x25cbb  CUS_0x3397      June               Sveap    45
52792  99483  0x25ce9  CUS_0x862b     April      Edward Taylorc    44
52808  99509  0x25d0f  CUS_0x504e      June              Emilyf    17
52858  99618  0x25db4  CUS_0xae66     March                Jino  7490
53014  99931  0x25f89  CUS_0xb11c     April      Yinka Adegokej    38

               SSN    Occupation     Annual_Income  Monthly_Inhand_Salary  \
28     070-19-1622        Doctor          11483841            9843.867500
113    425-47-6723      Musician           1862764            1387.303333
116    425-47-6723      Musician           1862764            1387.303333
169    925-51-5335  Entrepreneur           5582979            4369.482500
218    507-34-4117      Musician           7898848            6449.373333
...            ...           ...               ...                    ...
52778  097-59-6601     Developer           3980036            3097.696667
52792  710-51-5469       Manager          14528224           12154.853333
52808  569-84-9250    Accountant  7257245999999999            6233.705000
52858  721-45-4479        Writer          14256036           11773.030000
53014  546-94-4789       Manager           1531965            1460.637500

       ...  Credit_Mix  Outstanding_Debt  Credit_Utilization_Ratio  \
28     ...        Good            137774                 27.626325
113    ...         Bad            179354                 38.979661
116    ...         Bad            179354                 23.245482
169    ...         Bad            342249                 38.025685
218    ...         Bad             17469                 38.163571
...    ...         ...               ...                       ...
52778  ...           _            424152                 23.405996
52792  ...           _            141724                 41.893673
52808  ...    Standard            132146                 39.578007
52858  ...    Standard             22075                 35.576245
53014  ...         Bad            145361                 34.243058

          Credit_History_Age Payment_of_Min_Amount  Total_EMI_per_month  \
28     21 Years and 5 Months                    NM           226.892792
113    18 Years and 9 Months                    NM            65.139488
116    19 Years and 3 Months                   Yes            65.139488
169    10 Years and 9 Months                   Yes           314.901785
218    10 Years and 7 Months                    NM           291.782760
...                      ...                   ...                  ...
52778   1 Years and 3 Months                   Yes           252.255601
52792  23 Years and 5 Months                    NM           104.351443
52808  20 Years and 3 Months                   Yes           176.374432
52858  17 Years and 5 Months                    No            76.772094
53014  11 Years and 0 Months                   Yes            28.182033

      Amount_invested_monthly                 Payment_Behaviour  \
28          21223560220847847   High_spent_Large_value_payments
113          4843998334767114  High_spent_Medium_value_payments
116         10422797957897026    Low_spent_Small_value_payments
169         18204655003168392   High_spent_Small_value_payments
218          4563694644918271   Low_spent_Medium_value_payments
...                       ...                               ...
52778        6677488716208742  High_spent_Medium_value_payments
52792        3894023507145877  High_spent_Medium_value_payments
52808        7646379642912784                            !@9#%8
52858        1947874766731884   High_spent_Large_value_payments
53014                      00   High_spent_Large_value_payments

         Monthly_Balance Credit_Score
28      7852583558699787         Good
113    27515086221005004         Poor
116    25936286597875085         Poor
169    19999991470063443     Standard
218    17678510849935338         Poor
...                  ...          ...
52778  24073917874836985     Standard
52792   9717315394593352         Poor
52808   6105322719336395     Standard
52858  11457434294028362     Standard
53014  34808838343284464     Standard

[1102 rows x 29 columns]

In [279]:
credit_data['Changed_Credit_Limit'] = pd.to_numeric(credit_data['Changed_Credit_Limit'], errors='coerce')

In [280]:
credit_data.dropna(subset=['Changed_Credit_Limit'], inplace=True)

In [281]:
credit_data.reset_index(inplace=True)

In [282]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51947 entries, 0 to 51946
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   level_0                   51947 non-null  int64
 1   index                     51947 non-null  int64
 2   ID                        51947 non-null  object
 3   Customer_ID               51947 non-null  object
 4   Month                     51947 non-null  object
 5   Name                      51947 non-null  object
 6   Age                       51947 non-null  object
 7   SSN                       51947 non-null  object
 8   Occupation                51947 non-null  object
 9   Annual_Income             51947 non-null  object
 10  Monthly_Inhand_Salary     51947 non-null  float64
 11  Num_Bank_Accounts         51947 non-null  int64
 12  Num_Credit_Card           51947 non-null  int64
 13  Interest_Rate             51947 non-null  int64
 14  Num_of_Loan               51947 non-null  object
 15  Type_of_Loan              51947 non-null  object
 16  Delay_from_due_date       51947 non-null  int64
 17  Num_of_Delayed_Payment    51947 non-null  object
 18  Changed_Credit_Limit      51947 non-null  float64
 19  Num_Credit_Inquiries      51947 non-null  float64
 20  Credit_Mix                51947 non-null  object
 21  Outstanding_Debt          51947 non-null  object
 22  Credit_Utilization_Ratio  51947 non-null  float64
 23  Credit_History_Age        51947 non-null  object
 24  Payment_of_Min_Amount     51947 non-null  object
 25  Total_EMI_per_month       51947 non-null  float64
 26  Amount_invested_monthly   51947 non-null  object
 27  Payment_Behaviour         51947 non-null  object
 28  Monthly_Balance           51947 non-null  object
 29  Credit_Score              51947 non-null  object
dtypes: float64(5), int64(6), object(19)
memory usage: 11.9+ MB

In [283]:
columns_to_convert = ['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']

In [284]:
for col in columns_to_convert:
    credit_data[col] = pd.to_numeric(credit_data[col], errors='coerce')

##### Cleaned data with correct data types

In [285]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51947 entries, 0 to 51946
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   level_0                   51947 non-null  int64
 1   index                     51947 non-null  int64
 2   ID                        51947 non-null  object
 3   Customer_ID               51947 non-null  object
 4   Month                     51947 non-null  object
 5   Name                      51947 non-null  object
 6   Age                       51947 non-null  int64
 7   SSN                       51947 non-null  object
 8   Occupation                51947 non-null  object
 9   Annual_Income             51947 non-null  int64
 10  Monthly_Inhand_Salary     51947 non-null  float64
 11  Num_Bank_Accounts         51947 non-null  int64
 12  Num_Credit_Card           51947 non-null  int64
 13  Interest_Rate             51947 non-null  int64
 14  Num_of_Loan               51947 non-null  int64
 15  Type_of_Loan              51947 non-null  object
 16  Delay_from_due_date       51947 non-null  int64
 17  Num_of_Delayed_Payment    51947 non-null  int64
 18  Changed_Credit_Limit      51947 non-null  float64
 19  Num_Credit_Inquiries      51947 non-null  float64
 20  Credit_Mix                51947 non-null  object
 21  Outstanding_Debt          51947 non-null  int64
 22  Credit_Utilization_Ratio  51947 non-null  float64
 23  Credit_History_Age        51947 non-null  object
 24  Payment_of_Min_Amount     51947 non-null  object
 25  Total_EMI_per_month       51947 non-null  float64
 26  Amount_invested_monthly   51947 non-null  int64
 27  Payment_Behaviour         51947 non-null  object
 28  Monthly_Balance           51947 non-null  float64
 29  Credit_Score              51947 non-null  object
dtypes: float64(6), int64(12), object(12)
memory usage: 11.9+ MB

In [286]:
credit_data.to_pickle('C:\\Users\\debod\\Downloads\\Yetty\\credit_data_cleaneddddd.pkl')